:root {
  --accent-color: #ff6c00;
  --main-color: #303030;
  --second-color: #555555;
  --white-color: #ffffff;
  --rgba-color: rgba(157, 164, 189, 0.6);
  --contact-color: #9da4bd;
  --background-accent: #ff6c00;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--main-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-color);
}
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}
.button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--background-accent);
}
/* Герой */
.hero {
  background: #191C26;
}
.media-link-list {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--white-color);
}
.media-link-list:hover,
.media-link-list:focus {
  color: var(--accent-color);
}
/* Прайс */
.section-price {
   background: #191C26;
}
.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.suptitle.rgba-color {
  color: var(--rgba-color);
}
.main-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color);
}
.second-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
.section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.section-title.second {
  color: var(--white-color);
}
.about-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.about {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.button.light {
  color: inherit;
}
.number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--accent-color);
}
.benefits {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}
.team {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}
.about-team {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.section-contact {
   background: #191C26;
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
.time-job {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
}
.time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
.copyright {
  font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: var(--contact-color)
}